In [1]:
%matplotlib tk
import pandas as pd
from cell_cycle_gating import manual_gating as mg
import matplotlib
#matplotlib.pyplot.ion()

In [2]:
# provide object level file for the well that has to be manually gated
obj_file = '2018-03-06T184736-0500[25243]DeepDyeDrop_S100[8132618].result.F9[8132579].Population - Nuclei Selected[0].txt'

ndict = {'Nuclei Selected - EdUINT': 'edu',
        'Nuclei Selected - DNAcontent': 'dna',
        'Nuclei Selected - LDRTXT SER Spot 8 px' : 'ldr',
        'Nuclei Selected - pH3INT': 'ph3'}

In [3]:
# summary level output file that is output from the automated run
dfs = pd.read_csv('summary_180306_185009-V[20849].csv')

In [ ]:
dfs.head()

In [4]:
dfs2 = mg.manual_gating(dfs, obj_file, ndict, ph3_channel=False)

In [5]:
dfs[dfs.well == 'F09']

,well,cell_count__total,G1,S,G2,S_dropout,other,cell_count,cell_count__dead,corpse_count
47,F09,760.0,0.581579,0.009211,0.014474,0.009211,0.385526,664.0,96.0,38

In [6]:
dfs2[dfs2.well == 'F09']

,well,cell_count__total,G1,S,G2,S_dropout,other,cell_count,cell_count__dead,corpse_count
59,F09,760.0,0.185526,0.156579,0.475,0.017105,0.165789,628.0,132.0,38